/* Conteneur général */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  position: fixed;
  width: 300px;
  height: auto;
  display: block;     
  top: -80px;  
  margin-top: 0;
  padding-bottom: 0%;
  z-index: 50;
  
  
}

.logo:hover {
  filter: drop-shadow(0 0 2em #DADADA);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* En-tête */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.button-grid {
  display: grid;
  z-index:30;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1.5rem;
  padding: 2rem 1rem;
  max-width: 1000px;
  margin: 20px auto 0 auto; /* Ajoute 20px en haut */
}

/* Boutons */
button {
  background-color: #f3ccd1;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 1rem;
  transition: transform 0.3s ease;
  z-index:30;
}



button img {
  width: 180px;
  height: 130px;
  border-radius: 15%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover */
button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.switchlanguage {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #f7f7f7;
  color: #333;
  border-radius: 8px;
  cursor: pointer;
  z-index: 10;
}

/* Drapeau */
.switchlanguage .flag-icon {
  width: 20px;
  height: auto;
  margin-right: 0.5rem;
  
}

.clouds-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
 
}

.cloud {
  position: fixed;
  opacity: 0.7;
  animation: float 3s ease-in-out infinite;
  z-index: 0;
}

.cloud-top-left {
  top: 0px;
  left: 0px;
  width: 500px;
}

.cloud-top-right {
  top: 0px;
  right: 0px;
  width: 500px;
}
.cloud-haut-right{
  top: -92px;
  right: -50px;
  width: 250px;

}
.cloud-haut-left{
  top: -70px;
  left: 0px;
  width: 200px;

}
.cloud-center {
  top: -185px;
  left: 37%;
  transform: translateX(-50%);
  width: 450px;
}
.arbre {
  bottom: 0px;
  right: -400px;
  transform: translateX(-50%);
  width: 550px;
}
.arbre2 {
  bottom: 0px;
  left: 120px;
  transform: translateX(-50%);
  width: 550px;
}
.vert {
  position: fixed;
  opacity: 1;
  z-index: 0;
}
.herbe {
  bottom: -140px;
  right: -250px;
  transform: translateX(-50%);
  width: 400px;
  z-index: 100;
}
.herbe1{
  bottom: -140px;
  right: 40px;
  transform: translateX(-50%);
  width: 400px;
  z-index: 100;
}
.herbe6{
  bottom: -140px;
  left:900px;
  transform: translateX(-50%);
  width: 400px;
  z-index: 100;
}
.herbe7{
  bottom: -140px;
  left:570px;
  transform: translateX(-50%);
  width: 400px;
  z-index: 100;

}

.herbe2 {
  bottom: -140px;
  right: 600px;
  transform: translateX(-50%);
  width: 400px;
  z-index: 100;
}

.herbe3 {
  bottom: -140px;
  left: 400px;
  transform: translateX(-50%);
  width: 400px;
  z-index: 10;
}
.herbe4 {
  bottom: -140px;
  left:120px;
  transform: translateX(-50%);
  width: 400px;
  z-index: 100;
}
.herbe5 {
  bottom: -140px;
  right:300px;
  transform: translateX(-50%);
  width: 400px;
  z-index: 100;

}
.QT{
  bottom: 0px;
  left:200px;
  transform: translateX(-50%);
  width: 200px;

}
.QT2{
  bottom: 0px;
  right:25px;
  transform: translateX(-50%);
  width: 200px;
  
}
.QTH{
  bottom: -30px;
  left:350px;
  transform: translateX(-50%);
  width: 350px;


}





@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}

